/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.how-it-works h2 {
  text-align: center;
}

footer {
  padding: 32px 0px;
  text-align: center;
  background: #2C2B2B;
  color: rgb(190, 190, 190);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline a {
  color: #1FDD88;
  font-size: 48px;
}
footer p {
  margin: 0;
}
/* Custom design below! */

